/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-white: #fff;
    --text-gray: #646161;

    --list-pos: 0;
    --truck-pos: -999px;
}

.e-center {
    text-align: center;
}

html {
    line-height: 1.5;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}

body {
    height: 100%;
    width: 100%;
}


#wrapper {
    overflow: hidden;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400% 400%;
    width: 100%;
    animation: Gradient 15s ease infinite;
    -webkit-animation: Gradient 15s ease infinite;

    position: relative;
}

.content-session {
    max-width: 600px;
    padding: 34px 0;
    margin: auto;
}

.content-session__img-box {
    margin: auto;
    height: 96px;
    width: 96px;
}

.content-session__img {
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.content-session__intro {
    color: var(--text-white);
    margin: 16px 0;
}

.intro__name {
    font-size: 2rem;
    margin-bottom: 6px;
    font-weight: 600;
    letter-spacing: 2px;
}

.intro__desc {
    font-size: 14px;
    font-weight: 400;
}

.content-session__link-list {
    padding: 0 16px;
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    max-width: 600px;
    width: 100%;
    left: calc( -1 * var(--truck-pos) + 100%);
    right: 0;
    margin: auto;
    animation:listfadein 2s 2s ease forwards;
    -webkit-animation:listfadein 2s 2s ease forwards;
}

.content-session__link-item {
    margin: 10px 0;
    list-style: none;
}

.content-session__link-box {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: rgba(255, 255, 255, .7);
    display: block;
    position: relative;
    padding: 12px;
    text-decoration: none;
    color: var(--text-gray);
}

.content-session__link-box:hover {
    background-color: rgba(255, 255, 255, 1);
}

.truck-wrapper {
    width: 999px;
    position: absolute;
    left: 100%;
    top: 209px;
    right: 0;
    animation: truckfadein 2s 2s ease forwards;
    -webkit-animation: truckfadein 2s 2s ease forwards;
}

.truck-img {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}

.content-icon {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    font-size: 34px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.content-title {
    font-weight: 600;
    font-size: 16px;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.intro {
    font-family: 'Alfa Slab One', cursive;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: sliderfadeout 1s ease 1s forwards;
    -webkit-animation: sliderfadeout 1s ease 1s forwards;
}

.intro-text {
    overflow: hidden;
    color: var(--text-white);
    font-weight: 300;
    font-size: 8rem;
    text-align: center;
}

.intro-text span {
    display: inline-block;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    animation: fadein 1s ease forwards;
    -webkit-animation: fadein 1s ease forwards;
}

@keyframes fadein {
    from {
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
    }
    to {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@keyframes sliderfadeout {
    from {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
}

@keyframes listfadein {
    to {
        left: var(--list-pos);
    }
}

@keyframes truckfadein {
    to {
        left: var(--truck-pos);
    }
}

/* Mobile */
@media screen and (max-width: 46.1875em) {
    .intro-text {
        font-size: 4rem;
    }
}