/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-white: #fff;
    --text-gray: #646161;
}

.e-center {
    text-align: center;
}

html {
    line-height: 20px;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#big-slider {
    position: relative;
    width: 200%;
    height: 100%;
    display: flex;
    animation: truckgoin 3s linear forwards;
    -webkit-animation: truckgoin 3s linear forwards;
}

.item {
    width: 50%;
    height: 100%;
}

.wrapper {
    overflow: hidden;
    left: -100%;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    -webkit-animation: Gradient 15s ease infinite;
}

.content-session {
    max-width: 600px;
    padding: 34px 0;
    margin: auto;
}

.content-session__img-box {
    margin: auto;
    height: 96px;
    width: 96px;
}

.content-session__img {
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.content-session__intro {
    color: var(--text-white);
    margin: 16px 0;
}

.intro__name {
    margin-bottom: 6px;
    font-weight: 600;
    letter-spacing: 2px;
}

.intro__desc {
    font-size: 14px;
    font-weight: 400;
}

.content-session__link-list {
    padding: 0 16px;
    display: flex;
    flex-flow: column wrap;
}

.content-session__link-item {
    margin: 10px 0;
    list-style: none;
}

.content-session__link-box {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: rgba(255, 255, 255, .7);
    display: block;
    position: relative;
    padding: 12px;
    text-decoration: none;
    color: var(--text-gray);
}

.content-session__link-box:hover {
    background-color: rgba(255, 255, 255, 1);
}

.content-icon {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    font-size: 34px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.content-title {
    font-weight: 600;
    font-size: 16px;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.slider-animation {
    position: relative;
}

.slider-animation img {
    position: absolute;
    max-width: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

@keyframes truckgoin {
    from {
        left: -158%;
    }
    to {
        left: 0;
    }
}


